/* <!-- font-family: 'Dancing Script', cursive; -- sub heading
        font-family: 'Lobster Two', cursive; -- main heading
        font-family: 'Luxurious Roman', cursive; -- text  heading
        font-family: 'Poiret One', cursive; -- navbar heading --> */
*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
@media only screen and (max-width:1450px){
    html,
    body{
        width: 100%;
        overflow-x: hidden;
    }
}
header{
    position: relative;
    min-height: 700px;
    height: 80vh;
    box-sizing: border-box;
    background-image: url("images/bg.png");
    background-size: cover;
    background-attachment: fixed;
}
.navbar-brand img{
    width: 5rem;
    border-radius: 100%;
}

.navbar{
    padding-left: 5%;
    padding-right: 5%;
}
@media (max-width:990px) {
    .navbar{
        background: linear-gradient(to top, #ff007a 0%, rgba(142, 0, 116, 1) 100%);
    }
}
@media (max-width:990px)and (min-width:320px) {
    .navbar{
        padding-left: 0.5%;
        padding-right: 0.5%;
    }
}
.nav-link{
    text-transform: uppercase;
    color: #fff;
}
.nav-link:hover{
    color: lightgray;
}

/* toggler modification*/
.navbar-toggler{
    width: 25px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus{
    outline: none;
    box-shadow: none;
    border: 0;
}
.navbar-toggler span{
    margin: 0;
    padding: 0;
}
.toggler-icon{
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: white;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
.middle-bar{
    margin-top: 0px;
}
.navbar-toggler .top-bar{
    margin-top: 0;
    transform: rotate(135deg);
}
.navbar-toggler .middle-bar{
    opacity: 0;
    filter: alpha(opacity=0);
}
.navbar-toggler .bottom-bar{
    margin-top: 0px;
    transform: rotate(-135deg);
}
.navbar-toggler.collapsed .top-bar{
    margin-top: -10px;
    transform: rotate(0deg);
}
.navbar-toggler.collapsed .middle-bar{
    opacity: 1;
    filter: alpha(opacity=100);
}
.navbar-toggler.collapsed .bottom-bar{
   margin-top: 10px;
   transform: rotate(0deg);
}

/* dropdown menu */
.dropdown-menu{
    animation-name: atthover;
    animation-duration: 1s;
    animation-iteration-count: finite;
}
@keyframes atthover{
    0%{
        opacity: 0;
        margin-top: 30px;
    }
    50%{
        opacity: 1;
        margin-top: 0px;
    }
    100%{
        opacity: 100%;
    }
}
.navbar-dark{
    color: white;
}
.navbar.scrolled{
    background: linear-gradient(to top, #ff007a 0%, rgba(142, 0, 116, 1) 100%);
    transition: 1s ease-in-out;
}
.dropdown:hover{
    animation-play-state: running;
}
.dropdown:hover> .dropdown-menu{
    display: block;
}

/* headre heading */
.club-heading{
    font-size: 7rem;
    font-family: 'Lobster Two', cursive;
    color: white;
    font-weight: 500;
    padding-top: 10%;
}
@media (max-width:990px) {
    .club-heading{
        padding-top: 23%;
    }
}
.club-sub-heading{
    font-size: 1.8rem;
    color: white;
    text-transform: capitalize;
}
.club-text{
    font-size: 1.2rem;
    letter-spacing: 1px;
    color: white;
    padding-top: 3%;
    overflow: hidden;
}

/* common css */
.btn{
    text-transform: capitalize;
}
hr{
    width: 4rem;
    margin: 20px auto 20px auto;
}

/* club-cells */
.club-cell-heading{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 4%;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
    font-weight: 600;
}
.club-cell-heading p{
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 400;
}
.owl-carousel{
    max-width: 100%;
    margin: 0px auto 0px auto;
}
.club-card{
    text-align: center;
    box-shadow: 0 5px 15px -5px black;
    border-radius: 50px;
    transition: all;
    transition-duration: 0.5s;
    margin: 3%;
}
.club-card:hover{
    background-color: #ff007a;
    color: white;
}
.club-img{
    border-radius: 50px;
    padding: 20px;
}
.card-card-title{
    text-transform: uppercase;
    font-size: 2rem;
    color: #ff007a;
}
.card-btn{
    background-color: #ff007a;
    color: #fff;
    border: 2px solid #fff;
}
.card-btn:hover{
    background-color: #99054c;
    color: white;
}
#club-slider .owl-nav {
    text-align: center;
    font-size: 4rem;
}
#club-slider .owl-nav .owl-next:hover{
    background: none;
    color: black;
}
#club-slider .owl-nav .owl-prev:hover{
    background: none;
    color: black;
}
/* events */
#events{
    margin-top: 10%;
    margin-bottom: 10%;
    background-image: url("images/upcoming-events.png");
    background-position: center;
    background-size: cover;
}
.event-heading{
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 3rem;
    color: white;
    padding-top: 5%;
    margin-bottom: 4%;
    text-transform: uppercase;
    font-weight: 600;
}
.event-heading p{
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 400;
}
.event-hr{
    width: 4rem;
    margin: 20px auto 20px auto;
    color: white;
}
.shadow-effect{
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    border: 2px solid #ff007a;
    box-shadow: 0 19px 38px rgba(255,255,255,0.08), 0 15px 12px rgba(255,255,255,0.08);
}
#event-slider .shadow-effect p{
    font-size: 17px;
    font-size: inherit;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 400;
}
.event-name{
    font-size: 3rem;
    color: black;
    font-family: 'Dancing Script', cursive; 
    text-transform: capitalize;
}
#event-slider .item{
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
    opacity: 0.2;
    -webkit-transform: scale3d(0.8,0.8,1);
    transform: scale3d(0.8,0.8,1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#event-slider .owl-item.active.center .item{
   opacity: 1;
   -weblit-transform: scale3d(1,1,1); 
   transform: scale3d(1,1,1); 
}
#event-slider.owl-carousel .owl-dots .owl-dot.active span,
#event-slider.owl-carousel .owl-dots .owl-dot:hover span{
    background-color: #ff007a;
    transform: translate3d(0px, -50px, 0px) scale(0.7);
}
#event-slider.owl-carousel .owl-dots{
    display: inline-block;
    width: 100%;
    text-align: center;
}
#event-slider.owl-carousel .owl-dots .owl-dot{
    display: inline-block;
}
#event-slider.owl-carousel .owl-dots .owl-dot span{
    background-color: #ff007a;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50px, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
    border-radius: 100%;
}
#event-slider .owl-nav .owl-next{
    color: white;
}
#event-slider .owl-nav .owl-prev{
   color: white;
}

/* about us */
#about-us{
    text-align: center;
    color: black;
    padding: 3% 10% 5%; 
}
.about-us-container{
    border: 3px solid #ff007a;
    padding: 3% 10% 5%;
}
.about-us-heading{
    font-size: 3rem;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
    font-weight: 600;
}
.about-heading{
    font-family: 'Dancing Script', cursive ;
    font-size: 4rem;
    padding: 2%;
    letter-spacing: 1px;
}
.about-sub-heading{
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: #99054c;
}
.about-content{
    font-size: 1.1rem;
}

/* members */
#members{
    margin-top: 5%;
    margin-bottom: 5%;
}
.member-heading{
    text-align: center;
    text-transform: uppercase;
    font-family: 'Poiret One', cursive;
    font-weight: 600;
    font-size: 3rem;
    padding-bottom: 5%;
    color: black;
}
.member-heading p{
    font-size: 1.2rem;
    font-family: sans-serif;
    font-weight: 400;
}
.team{
    text-align: center;
    margin-bottom: 10%;
    padding: 5%;
    background: linear-gradient(to top, #ff007a 0%, rgba(142, 0, 116, 1) 100%);
    color: white;
    border-radius: 20px;
    box-shadow: 0 5px 15px -5px black;
}
.team:hover .member-info{
    opacity: 1;
    transform: rotate(0deg) scale(1,1);
}
.img-area{
    overflow: hidden;
    position: relative;
}
.img-area img{
    width: 100%;
    transition: all 0.4s ease 0s;
    border-radius: 20px;
}
.img-area:hover img{
    transform: scale(1.2);
}
@media (max-width: 768px){
    .img-area img{
        display: inline-block;
    }
}
.img-area .member-info{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: .5s;
    transform: rotate(180deg) scale(0.5,0.5);
}
.img-area .member-info{
    padding: 6%;
    color: #fff;
}
.img-text h4{
    margin: 5px 0 5px;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-family: 'Poiret One', cursive;
    font-weight: 600;
}
.img-text h6{
    padding: 2%;
}
.linkedin{
    color: #fff;
    border: 2px solid #fff;
    padding: 1.5% 3%;
    margin: 2% 2%;
    border-radius: 100px;
    background: linear-gradient(to top, #f06f6f 0%, rgb(55, 51, 75) 100%);
    transition: all;
    transition-duration: 0.1s;
    transition-timing-function: ease-in-out;
}
.linkedin i{
    color: white;
    font-size: 1.2rem;
}

/* contact */
#contact{
    background-color: rgb(230, 222, 222);
}
.contact-heading{
    text-align: center;
    text-transform: uppercase;
    font-size: 2.5rem;
    color: black;
    letter-spacing: 1px;
    padding-top: 3%;
    padding-bottom: 3%;
    font-weight: 600;
    font-family: 'Poiret One', cursive;
}
.contact-sub-heading{
    text-align: center;
    color: #99054c;
    letter-spacing: 1px;
    font-size: 2rem;
    padding-bottom: 1%;
    font-weight: 300;
}
.contact-text{
    text-align: center;
    color: black;
    font-size: 1.2rem;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.icon{
    width: 50px;
    height: 50px;
    background: transparent;
    margin: 10px;
    border-radius: 30%;
    color: black;
    box-shadow: 0 5px 15px -5px black;
    position: relative;
    overflow: hidden;
    margin-bottom: 5%;
}
.icon i{
    line-height: 50px;
    font-size: 25px;
    transition: 0.2s;
}
.icon:hover i{
    transform: scale(1.3);
    color: white;
}
.linkedin-icon::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: linear-gradient(to top, #3214e0 0%, rgb(113, 93, 204) 100%);
    left: -110%;
    top: 90%;
    transform: rotate(45deg);
}
.linkedin-icon:hover::before{
    animation: animation 0.7s 1 forwards;
}
.instagram-icon::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: linear-gradient(to top, #ff007a 0%, rgba(142, 0, 116, 1) 100%);
    left: -110%;
    top: 90%;
    transform: rotate(45deg);
}
.instagram-icon:hover::before{
    animation: animation 0.7s 1 forwards;
}
.youtube-icon::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: linear-gradient(to top, #ff0000 0%, rgb(204, 99, 99) 100%);
    left: -110%;
    top: 90%;
    transform: rotate(45deg);
}
.youtube-icon:hover::before{
    animation: animation 0.7s 1 forwards;
}
@keyframes animation {
    0%{
      left: -110%;
      top: 90%;
    }50%{
      left: 15%;
      top: -30%;
    }100%{
      top: -10%;
      left: -10%;
    }
}

/* footer */
footer{
    text-align: center;
    font-size: 1.2rem;
    text-transform: capitalize;
    background: linear-gradient(to top, #ff007a 0%, rgba(142, 0, 116, 1) 100%);
    font-weight: 400;
    color: white;
    padding: 10px;
}

@media (max-width:768px){
    .club-heading{
        font-size: 4.5rem;
        font-family: 'Lobster Two', cursive;
        color: white;
        font-weight: 500;
        padding-top: 35%;
    }
    .club-sub-heading{
        font-size: 1.2rem;
        color: white;
        text-transform: capitalize;
    }
    .club-text{
        font-size: 0.9rem;
        letter-spacing: 1px;
        color: white;
        padding-top: 3%;
        overflow: hidden;
    }
    .club-cell-heading{
        text-align: center;
        margin-top: 2%;
        margin-bottom: 4%;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-family: 'Poiret One', cursive;
        font-weight: 600;
    }
    .club-cell-heading p{
        font-size: 0.9rem;
        font-family: sans-serif;
        font-weight: 400;
    }
    .event-heading{
        text-align: center;
        font-family: 'Poiret One', cursive;
        font-size: 2.5rem;
        color: white;
        padding-top: 5%;
        margin-bottom: 4%;
        text-transform: uppercase;
        font-weight: 600;
    }
    .event-heading p{
        font-size: 0.9rem;
        font-family: sans-serif;
        font-weight: 400;
    }
    #about-us{
        margin-bottom: 10%;
    }
    .about-us-heading{
        font-size: 2.5rem;
        text-transform: uppercase;
        font-family: 'Poiret One', cursive;
        font-weight: 600;
    }
    .about-heading{
        font-family: 'Dancing Script', cursive ;
        font-size: 3rem;
        padding: 2%;
        letter-spacing: 1px;
    }
    .about-sub-heading{
        font-size: 1rem;
        letter-spacing: 1px;
        color: #99054c;
    }
    .about-content{
        font-size: 0.9rem;
    }
    .member-heading{
        text-align: center;
        text-transform: uppercase;
        font-family: 'Poiret One', cursive;
        font-weight: 600;
        font-size: 2.5rem;
        padding-top: 5%;
        padding-bottom: 5%;
        color: black;
    }
    .team{
        text-align: center;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
        padding-bottom: 5%;
        box-shadow: 0px 5px -15px -5px black;
        background: linear-gradient(to top, #ff007a 0%, rgba(142, 0, 116, 1) 100%);
        color: white;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    .contact-heading{
        text-align: center;
        text-transform: uppercase;
        font-size: 2.5rem;
        color: black;
        letter-spacing: 1px;
        padding-top: 3%;
        padding-bottom: 3%;
        font-weight: 600;
        font-family: 'Poiret One', cursive;
    }
    .contact-sub-heading{
        text-align: center;
        color: #99054c;
        letter-spacing: 1px;
        font-size: 1.5rem;
        padding-bottom: 1%;
        font-weight: 300;
    }
    .contact-text{
        text-align: center;
        color: black;
        font-size: 0.9rem;
    }
    .contact{
        margin-bottom: 5%;
    }
    footer{
        text-align: center;
        font-size: 0.9rem;
        text-transform: capitalize;
        background: linear-gradient(to top, #ff007a 0%, rgba(142, 0, 116, 1) 100%);
        font-weight: 400;
        color: white;
        padding: 10px;
    }
}

/* common cell css */
#cell-bg{
    background-image: url("images/red-paper-curves-to-make-an-abstract-gradient.jpg");
    background-position: center;
    background-size: cover;
}